<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Cert CRM, <%= @user.name %>!</h1>
    <p>Your customers' certificates are our priority.</p>
    <p>You can always access them at <a href='<%= @url %>'><%= @url %></a>.</p>
    <p>Best,</p>
    <p>The Cert CRM Team</p>
  </body>
</html>
