<% if signed_in? %>
  <script>
    window.currentUser = <%= render(
      "api/sessions/current_user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<div id='current-page'>
  Check Chrome console (alt + cmd + j)...
  Check Webpack tab.
  Check Rails Server tab.
  Check Postgres
</div>
